body{
	background-color: white;
	font-size: 15px;
	padding: 1% 5%;
}

 .html_title, .sns {
	width: 50%;
	padding: 2% 0%;
}


.html_title{
	text-align: left;
	font-size: 150%;
	padding-left: 2%;
}

.sns{
	text-align: right;
	padding-right: 2%;
}

div{
	margin: 5% 10%;
	text-align: center;
	align-content: center;
}

.profile{
	color : dimgray;
	background-color: lavenderblush;
	text-align: center;
	padding: 2%;	
}

.hobby{
	color : dimgray;
	background-color: honeydew;
	text-align: center;
	padding: 2%;	
}	

.skill{
	color : dimgray;
	background-color: #f7efff;
	text-align: left;
	padding: 2%;	
}

.skill_title{
	font-weight: bold;
}